#title {
  font-family: 'Kanit',sans-serif;
  font-weight: bold;
  font-size: 4em;
  text-align: center;
  margin: 0;
}

#author {
  font-family: 'Kanit',sans-serif;
  font-size: 2em;
  text-align: center;
  margin: 0;
}

.bind {
  max-width: 50em;
  text-align: justify;
}

.bindtight {
  max-width: 25em;
  text-align: justify;
}

.wide {
  max-width: 50em;
}

.part {
  list-style-type: none;
  list-style-position: inside;
}
